/* Initial body */

@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf");
    src: url("fonts/Roboto-Medium.ttf");
    src: url("fonts/Roboto-Thin.ttf");
    src: url("fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Gotham Black";
  src: url("fonts/Gotham-Black-Regular.ttf");
}

.back_img {
  height: auto;
  width: auto;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.2;
  position: fixed;
  top: -50%;
  -webkit-filter: blur(5px) grayscale(20%);
}

body {
  left: 0;
  margin: 0;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: Roboto;
  background-color: #DDD;
}

a {
  text-decoration: none;
  color: #009900;
}

/* Initial menu */
.menu {
  background-color: white;
  position: fixed;
  left: -285px;
  top: 0;
  height: 100%;
  width: 285px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  z-index: 10;
}

/* Basic styling */

.overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:#000;
  opacity:0;
  z-index: 3;
}

.bar {
  background-color: #03A9F4;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.81);
  height: 70px;
  position: fixed;
  top: 0px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75), inset 0px 7px 50px -16px rgba(0,0,0,0.69);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75), inset 0px 7px 50px -16px rgba(0,0,0,0.69);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75), inset 0px 7px 50px -16px rgba(0,0,0,0.69);
  z-index: 2;
}

.left_arrow {
  max-width: 10%;
  top: 10px;
  position: absolute;
  left: -10%;
  top: 100px;
  cursor: pointer;
}

.right_arrow {
  max-width: 10%;
  position: absolute;
  top: 100px;
  left: 90%;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  cursor: pointer;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
  cursor: pointer;
}

.menu a {
  color: #000;
  font-size: 15px;
  text-decoration: none;
}

.menu .home_button {
  background-color: #DDD;
}

.nav-img {
  cursor: pointer;
  -webkit-box-shadow: inset 0px 7px 50px -16px rgba(0,0,0,0.69);
  -moz-box-shadow: inset 0px 7px 50px -16px rgba(0,0,0,0.69);
  box-shadow: inset 0px 7px 50px -16px rgba(0,0,0,0.69);
}

.icon-menu {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
}

.icon-menu i {
  margin-right: 5px;
}

.dylancope {
  padding-right: 25px;
  vertical-align: right;
  float: right;
}

.home_div {
  position: absolute;
  left: 0%;
  z-index: 1;
  width: 100%;
}

h1 {
  font-family: Gotham Black;
  font-size: 100px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  color: #0288D1;
}

h2 {
  font-family: Gotham Black;
  font-size: 50px;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  color: #01579B;
}

.dylan_text {
  position: relative;
  left: 70%;
  top: 70px;
  opacity: 0;
  color: #0288D1;
}

.cope_text {
  position: relative;
  left: 80%;
  top: 5px;
  opacity: 0;
  color: #01579B;
}

.about_div {
  position: absolute;
  top: 65px;
  left: 100%;
  width: 100%;
}

.about_head {
  position: relative;
  left: 10%;
}

.about_content {
  position: relative;
  width: 70%;
  height: 60%;
  left: 10%;
  margin: 0;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
}

.about_text {
  opacity: 1;
}


.projects_div {
  position: absolute;
  top: 65px;
  left: 200%;
  width: 100%;
}

.projects_head {
  position: relative;
  left: 10%;
}

.projects_content {
  position: relative;
  width: 70%;
  height: 60%;
  left: 10%;
  margin: 0;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
}

.projects_content ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects_content li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.projects_content li {
  padding: 2%;
  padding-bottom: 1%;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4), inset 0px 7px 25px -16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4), inset 0px 7px 25px -16px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.4), inset 0px 7px 25px -16px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}

.projects_content img {
  max-width: 30%;
  max-height: auto;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
}

.projects_content .footer {
  clear: both;
  text-align: right;
  padding-bottom: 10px;
}


.edu_div {
  position: absolute;
  top: 65px;
  left: 300%;
  width: 100%;
}

.edu_head {
  position: relative;
  left: 10%;
}

.edu_content {
  position: relative;
  width: 70%;
  height: 60%;
  left: 10%;
  margin: 0;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
}


.contact_div {
  position: absolute;
  top: 65px;
  left: 400%;
  width: 100%;
}

.contact_head {
  position: relative;
  left: 10%;
}

.contact_content {
  position: relative;
  width: 70%;
  height: 60%;
  left: 10%;
  margin: 0;
  padding: 5%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.4), inset 0px 7px 50px -16px rgba(0,0,0,0.3);
}
